<md-dialog aria-label="Login form" data-ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Login form</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
        <md-icon md-svg-src="close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <a class="md-button"
     data-ng-click="$ctrl.signIn('facebook')">
    Facebook login
  </a>
  <!--<a class="md-button"-->
     <!--data-ng-click="$ctrl.signIn('github')">-->
    <!--Github login-->
  <!--</a>-->
</md-dialog>
